// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

@media (max-width: 575.98px) {
  .border-xs-left-none {
    border-left: none !important; }
  .border-xs-right-none {
    border-right: none !important; } }

.card-widget {
    border: 0;
    position: relative;
}

.widget-user .widget-user-header {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  height: 135px;
  padding: 1rem;
  text-align: center;
}

.widget-user .widget-user-image {
  left: 50%;
  margin-left: -45px;
  position: absolute;
  top: 80px;
}

.widget-user .widget-user-image>img {
  border: 3px solid #fff;
  height: auto;
  width: 90px;
}

.widget-user .card-footer {
  padding-top: 50px;
}

.description-block {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.description-block>.description-header {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.description-block>.description-text {
  text-transform: uppercase;
}

#botmanWidgetRoot div div div {
  color: #fff !important;
}

.btn-github:not(:disabled):not(.disabled).active:focus, 
.btn-github:not(:disabled):not(.disabled):active:focus, 
.show>.btn-github.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(36,40,45,.5);
}

.btn-github:not(:disabled):not(.disabled).active, 
.btn-github:not(:disabled):not(.disabled):active, 
.show>.btn-github.dropdown-toggle {
  color: #fff;
  background-color: #24282d;
  border-color: #24282d;
}

.btn-github.focus, .btn-github:focus {
  box-shadow: 0 0 0 0.2rem rgba(36,40,45,.5);
}

.btn-github:hover {
  color: #fff;
  background-color: #0e0f11;
  border-color: #0e0f11;
}

.btn-github {
  color: #fff;
  background-color: #24282d;
  border-color: #24282d;
}

.btn-gitlab:not(:disabled):not(.disabled).active:focus, 
.btn-gitlab:not(:disabled):not(.disabled):active:focus, 
.show>.btn-gitlab.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225,64,39,.5);
}

.btn-gitlab:not(:disabled):not(.disabled).active, 
.btn-gitlab:not(:disabled):not(.disabled):active, 
.show>.btn-gitlab.dropdown-toggle {
  color: #fff;
  background-color: #e14027;
  border-color: #e14027;
}

.btn-gitlab.focus, .btn-gitlab:focus {
  box-shadow: 0 0 0 0.2rem rgba(225,64,39,.5);
}

.btn-gitlab:hover {
  color: #fff;
  background-color: #bc2f1a;
  border-color: #bc2f1a;
}

.btn-gitlab {
  color: #fff;
  background-color: #e14027;
  border-color: #e14027;
}

.btn-bitbucket:not(:disabled):not(.disabled).active:focus, 
.btn-bitbucket:not(:disabled):not(.disabled):active:focus, 
.show>.btn-bitbucket.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28,76,180,.5);
}

.btn-bitbucket:not(:disabled):not(.disabled).active, 
.btn-bitbucket:not(:disabled):not(.disabled):active, 
.show>.btn-bitbucket.dropdown-toggle {
  color: #fff;
  background-color: #1c4cb4;
  border-color: #1c4cb4;
}

.btn-bitbucket.focus, .btn-bitbucket:focus {
  box-shadow: 0 0 0 0.2rem rgba(28,76,180,.5);
}

.btn-bitbucket:hover {
  color: #fff;
  background-color: #153a89;
  border-color: #153a89;
}

.btn-bitbucket {
  color: #fff;
  background-color: #1c4cb4;
  border-color: #1c4cb4;
}